{% load staticfiles %}

﻿<!DOCTYPE html>
<html>
	<head>
		<title>УИТС ВГУИТ &bull; Факультет управления и информатики в технологических системах</title>
		<link rel="shortcut icon" href="{% static "images/favicon.png" %}">
		<link rel="stylesheet" type="text/css" href="{% static "style/style.css" %}">
		<!-- <link rel="stylesheet" type="text/css" href="{% static "style/fonts.css" %}"> --!>
		<script src="{% static "js/jquery-1.9.1.min.js" %}"></script>
		<script src="{% static "js/script.js" %}"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script> 
		<script type="text/javascript" src="{% static "js/jquery.color.js" %}"></script> 
		<script type="text/javascript" src="{% static "js/jMenu.js" %}"></script> 
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
		{% block head %}{% endblock %}
</head>
	<body>
		<header>
			<div id="logo">
				<a href="/">
					<img src="{% static "images/logo.png" %}" />
				</a>
					<input type="text" name="search" placeholder="Введи текст для поиска" id="searh-grid">
					<button id="search-button">Поиск</button>
				</div>
			<div id="menu">
					<li><a href="{% url 'news' %}">Новости</a></li>
					<li><a href="{% url 'faq' %}">Форум</a></li>
					<li><a href="/">Вики</a></li>
					<li><a href="{%  url 'gl' %}">Наши люди</a></li>
					{% if user.is_authenticated %}
					<li><a href="{% url 'profile' %}">Профиль</a></li>
					{% else %}
					<li><a href="{% url 'auth' %}">Вход</a></li>
					{% endif %}
					
					
			</div>
		</header>
		<div id="content">
			<div id="about">
				{% block content %}
				<div id="about-text-grid">
					<p><b>УИТС</b> - факультет "Управления и Информатики в технологических системах"</p>
					</br>
					<p>Сейчас: {{ moddate }}</p>	
        <font color="#0066CC">
        <b><a name="chairs"></a>Кафедры факультета</b></font><ul>
            <li>Кафедра высшей математики</li>
			<li>Кафедра информационных и управляющих систем</li>
            <li>Кафедра информационных технологий моделирования и управления</li>
            <li>Кафедра информационной безопасности</li>
			<li>Кафедра управления качеством и машиностроительные технологии </li>
            </ul>
            <p>              
       	<font color="#0066CC">
        <b>Направления подготовки (специальности)</b></font></p>
		<p>
                
<i>
        	<font color="#0066CC">
        <b>специалитет</b></font></i></p>
        <ul>
			<li>10.05.03 Информационная безопасность автоматизированных систем

			</li>
		</ul>

		<p>
                
<i><font color="#0066CC">
        <b>бакалавриат</b></font></i></p>
		<ul>
            <li>27.03.04&nbsp; Управление в технических системах<ul>
            <li>Управление и информатика в технических системах</li>
		</ul>
          	</li>
			<li>15.03.04&nbsp; Автоматизация технологических процессов и производств<ul>
            <li>Автоматизация технологических процессов и производств (по 
			отраслям)</li>
		</ul>
          	</li>
			<li>27.03.02 Управление качеством</li>
			<li>27.03.01 Стандартизация 
		и метрология</li>
			<li>09.03.02&nbsp; Информационные системы и технологии<ul>
            <li>Информационные системы и технологии</li>
		</ul>
          	</li>
			<li>09.03.03&nbsp; Прикладная информатика
			<ul>
            <li>Прикладная информатика в экономике</li>
		</ul>
          	</li>
		</ul>

		<p>
                
<i><font color="#0066CC">
        <b>магистратура</b></font></i></p>
		<ul>
            <li>27.04.04&nbsp; Управление в технических системах
<!--            <ul>
            <li>Управление и информатика в технических системах</li>
		</ul>-->
          	</li>
			<li>15.04.04&nbsp; Автоматизация технологических процессов и производств
<!--			<ul>
            <li>Автоматизация технологических процессов и производств (по 
			отраслям)</li>
		</ul>-->
          	</li>
			<li>27.04.02 Управление качеством</li>
			<li>27.04.01 Стандартизация 
		и метрология</li>
			<li>09.04.02&nbsp; Информационные системы и технологии 
<!--			<ul>
            <li>Информационные системы и технологии</li>
		</ul>-->
          	</li>
			<li>09.04.03&nbsp; Прикладная информатика
<!--			<ul>
            <li>Прикладная информатика в экономике</li>
		</ul>-->
          	</li>
		</ul>
			<i>Профиль:</i></b> <br>
			Управление и информатика в технических системах<p style="text-indent: -10px; margin-left: 30px">
			<b>
			<i>Область профессиональной деятельности:</i></b><p style="text-indent: -10px; margin-left: 40px">
			<i>Бакалавр</i><br>
			<br>
			Создание, проектирование, исследование, производство и 
			эксплуатация современных систем и средств управления в 
			промышленной и оборонной отраслях, в экономике, на транспорте, в 
			сельском х-ве и т. п.<p style="text-indent: -10px; margin-left: 40px">
			<i>Магистр</i><br>
			<br>
			Теория систем управления.<br>
			Элементы и устройства систем управления.<p style="text-indent: -10px; margin-left: 30px">
			<b><i>Объекты профессиональной деятельности<br>
			<br>
			</i></b>Системы автоматизации, управления, контроля, технического 
			диагностирования и информационного обеспечения, методы и средства их 
			проектирования, моделирования, экспериментального исследования, ввод 
			в эксплуатацию на действующих объектах и техническое обслуживание.<p style="text-indent: -10px; margin-left: 30px">
			<b><i>Должности, соответствующие квалификации<br>
			<br>
			</i></b>Специалисты трудоустраиваются в научные и производственные 
			организации, занимаясь исследованиями, созданием и эксплуатацией 
			автоматических и автоматизированных систем управления и занимают 
			должности: инженера, инженера по автоматизации, 
			инженера-программиста, инженера-электронщика.<p style="text-indent: -10px; margin-left: 30px">
			<b><i>Зачисление проводится<br>
			</i></b>на бюджетной и внебюджетной основе - по результатам вступительных 
			испытаний: физика, математика, русский язык (сертификаты ЕГЭ).<p>15.03.04  Автоматизация технологических процессов и 
		производств<b><i>Профиль: <br>
		</i></b>Автоматизация технологических процессов и производств в пищевой и химической промышленности<p style="text-indent: -10px; margin-left: 30px">
		<b><i>Область профессиональной деятельности</i></b><p style="text-indent: -10px; margin-left: 40px">
		<i>Бакалавр<br>
		</i><br>
		Разработка средств, способов и методов деятельности, направленных на 
		автоматизацию действующих и создание новых автоматизированных и 
		автоматических технологий и производств, обеспечивающих выпуск 
		конкурентоспособной продукции.<p style="text-indent: -10px; margin-left: 40px">
		<i>Магистр<br>
		</i><br>
		Автоматизация проектирования средств и систем управления.<br>
		Автоматизация технологических процессов и производств.<br>
		Автоматизация научных исследований, испытаний и экспериментов.<p style="text-indent: -10px; margin-left: 30px">
		<b><i>Объекты профессиональной деятельности<br>
		<br>
		</i></b>Системы автоматизации производственных и технологических 
		процессов различного назначения, управления их жизненным циклом и 
		качеством, их математическое, программное, информационное и техническое 
		обеспечение, а также методы, способы и средства их проектирования. 
		<p style="text-indent: -10px; margin-left: 30px">
		<b><i>Должности, соответствующие квалификации<br>
		<br>
		</i></b>Специалисты трудоустраиваются в научные и производственные организации, 
		занимаясь исследованиями, созданием и эксплуатацией автоматизированных 
		систем управления и занимают должности: инженер-технолог, инженер по 
		автоматизации и механизации производственных процессов, инженер по 
		автоматизированным системам управления производством, инженер-программист, инженер по наладке и испытаниям технологического 
		оборудования.<p style="text-indent: -10px; margin-left: 30px">
			<b><i>Зачисление проводится<br>
			</i></b>на бюджетной и внебюджетной основе - по результатам вступительных 
			испытаний: физика, математика, русский язык (сертификаты ЕГЭ).
		<b><i>Профиль: <br>
		</i></b>Информационные системы и технологии<p style="text-indent: -10px; margin-left: 30px">
		<b><i>Область профессиональной деятельности</i></b><p style="text-indent: -10px; margin-left: 40px">
		<i>Бакалавр<br>
		</i><br>
		Исследование, разработка, внедрение и сопровождение информационных 
		технологий и систем. В соответствии с областью профессиональной 
		деятельности направлению подготовки “Информационные системы и 
		технологии” может включать в себя различные профили подготовки.<p style="text-indent: -10px; margin-left: 40px">
		<i>Магистр<br>
		</i><br>
		Моделирование<span lang="en-us"> </span>информационных систем.<br>
		Технология управления знаниями.<p style="text-indent: -10px; margin-left: 30px">
		<b><i>Объекты профессиональной деятельности<br>
		</i></b><br>
		Информационные процессы, технологии, системы и сети, их программное, 
		техническое и организационное обеспечение, способы и методы 
		проектирования, отладки и эксплуатации информационных технологий и 
		систем в различных отраслях производственной, административной и 
		социальной деятельности.<p style="text-indent: -10px; margin-left: 30px">
		<b><i>Должности, соответствующие квалификации<br>
		</i></b><br>
		Специалисты трудоустраиваются в научные и производственные организации, 
		занимаясь исследованиями, созданием и эксплуатацией автоматизированных 
		систем управления и занимают должности: программист, системный 
		архитектор, специалист по информационным системам, системный аналитик, 
		специалист по системному администрированию, менеджер информационных 
		технологий, менеджер по продажам решений и сложных технических систем, 
		специалист по информационным ресурсам, администратор баз данных.<p style="text-indent: -10px; margin-left: 30px">
			<b><i>Зачисление проводится<br>
			</i></b>на бюджетной и внебюджетной основе - по результатам вступительных 
			испытаний: физика, математика, русский язык (сертификаты ЕГЭ).<p>09.03.03  Прикладная информатика</b><p style="text-indent: -10px; margin-left: 30px">
		<b><i>Профиль: <br>
		</i></b>Прикладная информатика в экономике<p style="text-indent: -10px; margin-left: 30px">
		<b><i>Область профессиональной деятельности</i></b><p style="text-indent: -10px; margin-left: 40px">
		<i>Бакалавр<br>
		</i><br>
		Системный анализ прикладной области, разработка требований к созданию и 
		развитию ИС и ее компонентов, ТЭО проектных решений, разработка проектов 
		информатизации, внедрение проектов, управление проектами, сопровождение 
		и эксплуатация ИС. <p style="text-indent: -10px; margin-left: 30px">
		<b><i>Объекты профессиональной деятельности<br>
		</i></b><br>
		Данные, информация, знания, прикладные информационные процессы, 
		прикладные информационные системы в экономике, менеджменте, 
		юриспруденции, управлении, социологии, психологии и других профилей 
		подготовки.<p style="text-indent: -10px; margin-left: 30px">
		<b><i>Должности, соответствующие квалификации<br>
		</i></b><br>
		Специалисты трудоустраиваются в научные и производственные организации, 
		занимаясь исследованиями, созданием и эксплуатацией информационных 
		систем и занимают должности: системного и финансового аналитика, 
		специалистов по консалтингу, информационно-экономическим системам, 
		мониторингу, менеджменту, предпринимателей и руководителей.<p style="text-indent: -10px; margin-left: 30px">
			<b><i>Зачисление проводится<br>
			</i></b>на бюджетной и внебюджетной основе - по результатам вступительных 
			испытаний: информатика, математика, русский язык (сертификаты ЕГЭ).<p>&nbsp;</td>
      <td width="20%">&nbsp;<p>&nbsp;</p>
		<p>
		&nbsp;</td>
  </tr>
</table>
				</div>
				{% endblock %}
				
				<div id="about-grid">
				{% block about %}
					<div id="photo-about-text-grid">
					<img width="210" height="263" src="{{ MEDIA_URL }}{{ decan_obj.photo }}">
					</div>
					<div id="name-about-text-grid">
						<p>{{ decan_obj.name }}</p>
						<p>Декан УИТС</p>
						<p><br>{{ decan_obj.description }}</p>
					</div>	
					{% endblock %}				
				</div>
			</div>
			<div class="line-cut"></div>
			<div id="news-repost">
				<div class="label-grid">
					Новости
				</div>
				<div id="news-base">
					{% block news-base %}
						<div id="news-slider">
						<div id="news-slider-photo"></div>
					</div>
					<div id="news-fast">
				{% block news-fast %}
					{% for x in news_article %}
						<div class="news-fast-repost">
							<div class="name-news-fast-repost">
								<a href="{% url 'news_detail' x.pk %}">{{ x.head }}</a>
							</div>
							<div class="content-news-fast-repost"> {{ x.text }} </div>
							<div class="date-news-fast-repost">
								{{ x.pub_date }}
							</div>
						</div>
					{% endfor %}
				{% endblock %}
				{% endblock %}
					</div>
					</div>
				</div>
			
		</div>
		<footer>
			<div id="footer-menu">
				<li><a href="{% url 'news' %}">Новости</a></li>
					<li><a href="{% url 'faq' %}">Форум</a></li>
					<li><a href="#">Вики</a></li>
					<li><a href="{%  url 'gl' %}">Наши люди</a></li>
					{% if user.is_authenticated %}
					<li><a href="{% url 'profile' %}">Профиль</a></li>
					{% else %}
					<li><a href="{% url 'auth' %}">Вход</a></li>
					{% endif %}
			</div>
			<div id="second-footer-menu">
				<li><a href="http://www.vsuet.ru/chairs/chairs.asp">Кафедры</a></li>
				<li><a href="/">Специальности</a></li>
				<li><a href="/">Документы</a></li>
			</div>
			<div id="third-footer-menu">
				<li><a href="/">Расписание</a></li>
				<li style="text-decoration: none !important;list-style-type: none !important;">Сейчас: {{ moddate }}</li>
			</div>
			<div id="four-footer-menu">
				<p>Мы в социальных сетях</p>
			<div id="se-block">
				<li style="margin-top:4px">
					<div id="vk-icon">
						<a href="/">
							<center>
								<img src="{% static "images/vk.png" %}" />
							</center>
						</a>
					</div>
				</li>
				<li><div id="facebook-icon">
					<a href="/">
						<center>
							<img src="{% static "images/facebook.png" %}" />
						</center>
					</a>
					</div>
				</li>
				<li><div id="instagram-icon">
						<a href="/">
							<center>
								<img src="{% static "images/instagram.png" %}" />
							</center>
						</a>
					</div>
				</li>
			</div>			
				<li>
					<div id="write">
						<a href="/">Написать нам</a>
					</div>
				</li>
			</div>
			<div id="fifth-footer-menu">
				<p style="font-size: 14px;">Факультет Управления и Информатики в технологических системах</p>
				<hr>
				<p>Воронежский Государственный Университет Инженерных Технологий</p>
				<p>© 2015</p>
			</div>
		</footer>
	</body>
</html>
