{% load staticfiles %}
﻿<!DOCTYPE html>
<html>
	<head>
		<title>УИТС ВГУИТ &bull; Факультет управления и информатики в технологических системах</title>
		<link rel="shortcut icon" href="{% static "images/favicon.png" %}">
		<link rel="stylesheet" type="text/css" href="{% static "style/style.css" %}">
		<!-- <link rel="stylesheet" type="text/css" href="{% static "style/fonts.css" %}"> --!>
		<script src="{% static "js/jquery-1.9.1.min.js" %}"></script>
		<script src="{% static "js/script.js" %}"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script> 
		<script type="text/javascript" src="{% static "js/jquery.color.js" %}"></script> 
		<script type="text/javascript" src="{% static "js/jMenu.js" %}"></script> 
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
	<body>
		<header>
			<div id="logo">
				<a href="/">
					<img src="{% static "images/logo.png" %}" />
				</a>
					<input type="text" name="search" placeholder="Введи текст для поиска" id="searh-grid">
					<button id="search-button">Поиск</button>
				</div>
			<div id="menu">
					<li><a href="{% url 'news' %}">Новости</a></li>
					<li><a href="{% url 'faq' %}">Форум</a></li>
					<li><a href="#">Вики</a></li>
					<li><a href="{%  url 'gl' %}">Наши люди</a></li>
					{% if user.is_authenticated %}
					<li><a href="{% url 'profile' %}">Профиль</a></li>
					{% else %}
					<li><a href="{% url 'auth' %}">Вход</a></li>
					{% endif %}
					
					
			</div>
		</header>
		<div id="content">
			<div id="about">
				{% block content %}
				<div id="about-text-grid">
					<p><b>УИТС</b> - факультет "Управления и Информатики в технологических системах"</p>
					</br>
					<p>Сейчас: {{ moddate }}</p>
					<p>Главная страница. взята из base.html</p>
				</div>
				{% endblock %}
				
				<div id="about-grid">
				{% block about %}
					<div id="photo-about-text-grid">
					<img width="210" height="263" src="{{ MEDIA_URL }}{{ decan_obj.photo }}">
					</div>
					<div id="name-about-text-grid">
						<p>{{ decan_obj.name }}</p>
						<p>Декан УИТС</p>
						<p><br>{{ decan_obj.description }}</p>
					</div>	
					{% endblock %}				
				</div>
			</div>
			<div class="line-cut"></div>
			<div id="news-repost">
				<div class="label-grid">
					Новости
				</div>
				<div id="news-base">
					{% block news-base %}
						<div id="news-slider">
						<div id="news-slider-photo"></div>
					</div>
					<div id="news-fast">
				{% block news-fast %}
					{% for x in news_article %}
						<div class="news-fast-repost">
							<div class="name-news-fast-repost">
								<a href="{% url 'news_detail' x.pk %}">{{ x.head }}</a>
							</div>
							<div class="content-news-fast-repost"> {{ x.text }} </div>
							<div class="date-news-fast-repost">
								{{ x.pub_date }}
							</div>
						</div>
					{% endfor %}
				{% endblock %}
				{% endblock %}
					</div>
					</div>
				</div>
			
		</div>
		<footer>
			<div id="footer-menu">
				<li><a href="/">Главная</a></li>
				<li><a href="/">Новости</a></li>
				<li><a href="/">Форум</a></li>
				<li><a href="/">Вики</a></li>
				<li><a href="/">Игра</a></li>
				<li><a href="/">Доска почета</a></li>
			</div>
			<div id="second-footer-menu">
				<li><a href="/">Кафедры</a></li>
				<li><a href="/">Специальности</a></li>
				<li><a href="/">Документы</a></li>
			</div>
			<div id="third-footer-menu">
				<li><a href="/">Расписание</a></li>
				<li style="text-decoration: none !important;list-style-type: none !important;">Сейчас: {{ moddate }}</li>
			</div>
			<div id="four-footer-menu">
				<p>Мы в социальных сетях</p>
			<div id="se-block">
				<li style="margin-top:4px">
					<div id="vk-icon">
						<a href="/">
							<center>
								<img src="{% static "images/vk.png" %}" />
							</center>
						</a>
					</div>
				</li>
				<li><div id="facebook-icon">
					<a href="/">
						<center>
							<img src="{% static "images/facebook.png" %}" />
						</center>
					</a>
					</div>
				</li>
				<li><div id="instagram-icon">
						<a href="/">
							<center>
								<img src="{% static "images/instagram.png" %}" />
							</center>
						</a>
					</div>
				</li>
			</div>			
				<li>
					<div id="write">
						<a href="/">Написать нам</a>
					</div>
				</li>
			</div>
			<div id="fifth-footer-menu">
				<p style="font-size: 14px;">Факультет Управления и Информатики в технологических системах</p>
				<hr>
				<p>Воронежский Государственный Университет Инженерных Технологий</p>
				<p>© 2015</p>
			</div>
		</footer>
	</body>
</html>
