{% extends "base.html" %}
{% load staticfiles %}
﻿{% block content %}
<div id="about-text-grid">
<p><b>УИТС</b> - факультет "Управления и Информатики в технологических системах" </p>
<p><h2>Новости:</h2></p>
{% for x in news_article %}
	<div align="left" class="news_header">
		<h3 class="news_headline"><a href="{% url 'news_detail' x.pk %}">{{ x.head }}</a></h3>
	</div>
	<div class="news_content">
		<p class="news_text">
		{{ x.text }}						
		</p>
		<div>
			<img src="{% static "images/dark_icon.png" %}" width="20px" class="dark_icon" />
			<span class="news_data">{{ x.pub_date }}</span>
		</div>
	</div>
{% endfor %}
</div>
{% endblock %}
