{% extends "base.html" %}
{% load staticfiles %}
{% load wysiwyg %}


﻿
{% block content %}

<div id="about-text-grid">
<p><h2>Профиль пользователя {{ user.username }}</h2></p>
	{% if not user.is_student %}
	<form action="{% url 'set_stud'  %}" method="post">
	{% csrf_token %}
    <input type="text" name="number" placeholder="Введите номер зачетки" pattern="^[ 0-9]+$" value="" />
	<input type="submit" value="Отправить" />
	</form>
	
	{% else %}
	<p>зачетка № {{user.num}}</p>
	{% endif %}
	<p>Должность: {{ pf.status }}</p>
	<ul style="width:100%;">
		<li id="button"><p><a href="http://cnit.vgta.vrn.ru/all_rating/">Рейтинг</a></p></li>
		<li id="button"><p><a href="http://www.vsuet.ru/student/schedule/uits.xls">Расписание</a></p></li>
		<li id="button"><p><a href="{% url 'auth_logout' %}">Выйти</a></p></li>
	</ul>
	<div style="width:100%; margin-left:auto; margin-right:auto;">	
	<div class="accordian" style="width:100%">
    	<ul style="width:100%;">
    	<li><p>add news</p></li>
    	<li class="lib">
    		<form action="{% url 'add_news'  %}" method="post">
			{% csrf_token %} 
			{{ news_f.media }}
			{{ news_f.as_p }}
			<input type="submit" value="Отправить" />
			</form>	
		</li>
		
		<li><p>add faq</p></li>
    	<li class="lib">
			<form action="{% url 'add_q'  %}" method="post">
			{% csrf_token %} 
			{{ Q_f.media }}
			{{ Q_f.as_p }}
			<input type="submit" value="Отправить" />
			</form>	
		</li>

		<li><p>change password and login</p></li>
    	<li class="lib">
    		<form action="{% url 'set_stud'  %}" method="post">
			{% csrf_token %}
    		<input type="text" name="login" placeholder="login" value="" />
    		<input type="password" name="pass" placeholder="password" value="" />
    		<input type="password" name="pass2" placeholder="password check" value="" />
			<input type="submit" value="Отправить" />
	</form>
		</li>
    	</ul>
    	
</div>
</div>

</div>
{% endblock %}



